header {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header img {
  width: 20%;
}

#formSearch {
  width: 100%;
}

#rechercheRecette {
  display: flex;
  width: 80%;
  justify-content: center;
  border-radius: 5px;
  margin: 0 15% 0 15%;
}
#rechercheRecette input {
  width: 100%;
  border-radius: 5px;
  background-color: #d2d0d0;
  height: 44px;
  box-sizing: border-box;
}
#rechercheRecette input:focus {
  outline: none;
}
#rechercheRecette button {
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #aba9a9;
  width: 4%;
}

#listeRecettes {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px 0 5px;
}
#listeRecettes .recipeCards {
  display: flex;
  width: 32.5%;
  border-radius: 15px;
  background-color: #d3d1d1;
  margin: 5px;
  height: auto;
  align-items: baseline;
}
#listeRecettes .recipeCards .detailRecipe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#listeRecettes .recipeCards .detailRecipe h1, #listeRecettes .recipeCards .detailRecipe p, #listeRecettes .recipeCards .detailRecipe div {
  width: 100%;
}
#listeRecettes .recipeCards .detailRecipe .fakePhoto {
  display: flex;
  width: 100%;
  margin: 0;
  border: #C7BEBE 1px solid;
  border-radius: 15px 15px 0 0;
}
#listeRecettes .recipeCards .detailRecipe .recipeTitle {
  display: flex;
  width: 90%;
}
#listeRecettes .recipeCards .detailRecipe .recipeTime {
  display: flex;
  justify-content: center;
  width: 10%;
}
#listeRecettes .recipeCards .detailRecipe .recipeIngredients {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 5px;
}
#listeRecettes .recipeCards .detailRecipe .recipeDescription {
  display: flex;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 200px;
}

#ingredients {
  margin: 0 0 0 15px;
}

#appliances {
  margin: 0 0 0 240px;
}

#ustensils {
  margin: 0 0 0 464px;
}

#filtres {
  display: flex;
  flex-direction: row;
  margin: 15px 15px 0 15px;
}
#filtres #filtreIngredient {
  border: #3282F7 5px solid;
  border-radius: 5px;
  background-color: #3282F7;
  color: white;
}
#filtres #filtreIngredient #inputIngredient {
  background-color: transparent;
  border: none;
  color: white;
}
#filtres #filtreIngredient #inputIngredient:focus {
  outline: none;
}
#filtres #filtreAppliance {
  margin: 0 10px 0 10px;
  border: #68D9A4 5px solid;
  border-radius: 5px;
  background-color: #68D9A4;
  color: white;
}
#filtres #filtreAppliance #inputAppliance {
  background-color: transparent;
  color: white;
  border: none;
}
#filtres #filtreAppliance #inputAppliance:focus {
  outline: none;
}
#filtres #filtreAppliance #inputAppliance:focus #filtreAppliance {
  border-radius: 5px 5px 0 0;
}
#filtres #filtreUstensils {
  border: #ED6454 5px solid;
  border-radius: 5px;
  background-color: #ED6454;
  color: white;
}
#filtres #filtreUstensils #inputUstensils {
  background-color: transparent;
  border: none;
  color: white;
}
#filtres #filtreUstensils #inputUstensils:focus {
  outline: none;
}

#listeAppliances, #listeIngredient, #listeUstensils {
  display: none;
  color: white;
}

#listeIngredient {
  flex-direction: column;
  background-color: #3282F7;
  flex-wrap: wrap;
  height: 500px;
}

#listeAppliances {
  background-color: #68D9A4;
  flex-direction: column;
  flex-wrap: wrap;
  width: 13.45%;
  height: 280px;
  border: #68D9A4 5px solid;
  border-radius: 0 0 5px 5px;
}

#listeUstensils {
  background-color: #ED6454;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  height: 500px;
}

#listeTag {
  display: flex;
  flex-direction: row;
}

[data-tagtype=applianceTag] {
  width: auto;
  color: #68D9A4;
  border: 5px black solid;
  margin: 5px;
}

[data-tagtype=ustensilsTag] {
  width: auto;
  color: #ED6454;
  border: 5px black solid;
  margin: 5px;
}

[data-tagtype=ingredientsTag] {
  width: auto;
  color: #3282F7;
  border: 5px black solid;
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
