header{
  display: flex !important;
  justify-content: center;
}
#formSearch {
  width: 100%;
}
#rechercheRecette{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: #aba9a9;
  margin: 0 15% 0 15%;

  input{
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #aba9a9;
    height: 44px;
    box-sizing: border-box;
  }
  button{
    display: block;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    background-color: #aba9a9;
    width: 4%;
  }
}

#listeRecettes {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5px 0 5px;
  .recipeCards {
    display: flex;
    flex-direction: column;
    width: 32.5%;
    border: black 5px solid;
    margin:5px;
  }
  .detailRecipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    h1,p,div{
      width: 100%;
    }
  }
}
